name: windows build
run-name: ${{ github.actor }} - ${{ github.event_name }} - ${{ github.sha }}

on: 
  workflow_dispatch:

jobs:
  win:
    runs-on: "windows-latest"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install Node.js & NPM
        uses: actions/setup-node@main
        with:
          node-version: "18"

      - name: Install npm deps
        run: |
          npm install
      
      - name: build
        continue-on-error: true
        run: |
          npm run dist

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
            name: ezytdl-win32.exe
            path: dist/ezytdl-win32.exe