name: windows build
run-name: ${{ github.actor }} - ${{ github.event_name }} - ${{ github.sha }}

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  win:
    runs-on: "windows-latest"

    permissions:
      contents: read

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install Node.js & NPM
        uses: actions/setup-node@main
        with:
          node-version: "24"

      - name: Install npm deps
        run: |
          npm install
      
      - name: testrun compiled build
        run: |
          npm run test